h1 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; font-size: larger; text-align: center; color: rgb(40, 172, 233);}

/* h1 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; font-style: italic; font-size: 300%;} */

.box {background-color: cornflowerblue; border: 5px solid darkblue;
    height: 150px;
    width: 200px; }